<!DOCTYPE html>
<html>
  <head>
    <title>BarCrawler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="main-page-background">
    <script type="text/javascript">
      window.beercup_url="<%= asset_path("beercup.png") %>"
      window.main_logo="<%= asset_path("main-logo1.png") %>"
      window.user_logo="<%= asset_path("user.png") %>"
      window.map_logo="<%= asset_path("map1.png") %>"
      window.compass_logo="<%= asset_path("compass.png") %>"
      window.go_logo="<%= asset_path("go.png") %>"
      window.destination="<%= asset_path("placeholder.png") %>"
    </script>
    <%= yield %>
  </body>
</html>
