<!DOCTYPE html>
<html>
  <head>
    <title>BarCrawler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="main-page-background">
    <script type="text/javascript">
      window.beercup_url="<%= asset_path("beercup.png") %>"
    </script>
    <%= yield %>
  </body>
</html>
