<!DOCTYPE html>
<html>
  <head>
    <title>BarCrawler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfhhQO2dLY4aZJ3QHsA12OB5lWz-dtaS0&libraries=places&language=en&callback=initMap" async defer></script>
  </head>

  <body id="main-page-background">
    <script type="text/javascript">
      window.beercup_url="<%= asset_path("beercup.png") %>"
      window.main_logo="<%= asset_path("main-logo1.png") %>"
      window.user_logo="<%= asset_path("user.png") %>"
      window.map_logo="<%= asset_path("map1.png") %>"
      window.compass_logo="<%= asset_path("compass.png") %>"
      window.go_logo="<%= asset_path("go.png") %>"
      window.destination="<%= asset_path("placeholder.png") %>"
    </script>
    <script>
      function initMap() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
      }
    </script>
    <%= yield %>
  </body>
</html>
